In [4]:
from os import listdir
from random import randint
from os.path import isfile, join

In [8]:
import pandas as pd

In [9]:
def get_random_line_from_file(file_name):
    with open(file_name, 'r') as file:
        # file_name is formatted as 'file_{file_number}_{number_of_lines}.txt'
        _, file_number, lines = file_name.split('_')
        lines = int(lines.split('.')[0])
        
        random_line = randint(0, lines - 1)

        for i, line in enumerate(file):
            if i == random_line:
                return line, file_number, lines

In [16]:
directory = '../data/'

target_values = pd.DataFrame(columns=['File Group', 'Lines', 'Value', 'Source Filename'])

for filename in listdir(directory):
    if isfile(join(directory, filename)):
        id_, file_number, lines = get_random_line_from_file(join(directory, filename))
        id_ = id_.strip()
        target_values = pd.concat([target_values, pd.DataFrame({'File Group': file_number, 'Lines': lines, 'Value': id_, 'Source Filename': join(directory, filename)}, index=[0])])

In [33]:
target_values

   File Group    Lines                                 Value
0          33   200000  3e6285b6-bb01-4b6b-859e-63526f2f6cf8
0          31   200000  eb270b00-8c1a-497d-aa37-5f1d6c9207d6
0          32   200000  306dc0ce-4eba-404d-bb8b-31cb35ca8b39
0          34   200000  fa7166b8-4f50-43fe-8905-3c9b29c40b44
0          35   200000  22dd5ca0-0884-4931-9e63-673403c01400
..        ...      ...                                   ...
0           1  2000000  3a3b6f41-6a10-4c62-98d4-092b64cd740a
0           3  2000000  30f15670-18cf-41c8-a02a-811f6bf947ea
0           0  2000000  e38c14cd-55df-4d48-a1c4-0512324aaa43
0           4  2000000  19f5b52d-5bc0-41d5-84b1-100f784fd21f
0           2  2000000  6129e1ed-ee0b-4c11-bbad-2ec4fb692bb3

[65 rows x 3 columns]

In [32]:
for i in target_values.values:
    print(i)

['33' 200000 '3e6285b6-bb01-4b6b-859e-63526f2f6cf8']
['31' 200000 'eb270b00-8c1a-497d-aa37-5f1d6c9207d6']
['32' 200000 '306dc0ce-4eba-404d-bb8b-31cb35ca8b39']
['34' 200000 'fa7166b8-4f50-43fe-8905-3c9b29c40b44']
['35' 200000 '22dd5ca0-0884-4931-9e63-673403c01400']
['36' 200000 '2dd31326-b7ee-45c5-a3cf-b1ee2a1598bb']
['37' 200000 'c3468b13-9f0f-40fd-a43c-33ca86df33b8']
['38' 200000 '0bc17e16-eea8-43f6-8a1f-8186f5ccf141']
['39' 200000 'e495e386-86fc-4b8a-a659-07000097116a']
['3' 200000 '6ea4cda5-4ce5-4acd-bf77-4295dde86bc7']
['40' 200000 'ae62fef7-f856-4f00-84fe-15ff3961a3ce']
['41' 200000 '9453aac3-d28f-4bf0-b7d4-a2cf2b1b3af1']
['30' 200000 '547b62b1-aa18-4552-8bf6-343faf1a812b']
['42' 200000 '147c9c62-c2f5-476b-a005-e195b6b76d2c']
['44' 200000 '68f840a5-d53a-4079-bf7a-9f381d9233fe']
['45' 200000 '7dc07e71-9c20-4bad-a161-82d8d7690bd3']
['46' 200000 'c78eaa43-b1ff-4f38-920a-0648e752277d']
['47' 200000 'b7ae4973-8a06-481a-baab-d41bf219e743']
['48' 200000 '7feb230d-a2be-46c2-b5e4-ccd513f29035']
['49' 200000 '9035621f-813e-473f-b0bb-b04b5700578f']
['4' 200000 'c3faa013-9a09-420f-94e3-a90b95039227']
['5' 200000 '6d8c527e-16b5-44c0-af68-07f69e8f1dae']
['6' 200000 '4cb20ad8-95e6-4771-a7b9-f30aa74223f6']
['7' 200000 '006e14d6-c63f-4243-af97-ae5b9a2bbc47']
['8' 200000 'c74a9ee2-2876-4882-8554-c039ab17ab48']
['43' 200000 '80ce1fd2-7df1-4d8c-9fb1-63d476bf99c7']
['2' 200000 '11bd0e3a-3f4b-4ab6-8c32-1ae2f5b055a0']
['9' 200000 '9cf20e71-9354-4246-b3b0-dc95c2b67b07']
['18' 200000 '39af484e-3251-418c-83aa-145cf551aff3']
['13' 200000 'b6945b64-4023-4221-9e54-8f87e493d3e7']
['14' 200000 '59f51c4e-a6c5-4be5-8c0f-1711acd7ce7d']
['15' 200000 'a344b15b-b618-4bf6-b7d2-d7185258ca13']
['16' 200000 '943a4415-4a88-423b-8e13-5eae8c7ee927']
['17' 200000 'cfaba705-844f-48c9-b6a7-3181c816c6c1']
['11' 200000 '4ef2fb3c-3c9c-48b0-bafd-63735c519756']
['19' 200000 '4bdbb334-f42a-4f66-8c0f-cef343d31bba']
['1' 200000 '228ec34f-92d5-4694-aacc-3606283a2eb8']
['10' 200000 '6ab0d8ac-7b4a-4a0c-bf68-59886be237ea']
['20' 200000 'c676e635-18ea-453c-923c-519fbb18f1fa']
['22' 200000 '444b1f8d-2449-46dc-b5bf-07c7d7ac9a0c']
['23' 200000 '6817664a-fb9b-41a3-9dd2-cd8e42b31fa6']
['24' 200000 'bb4ed45c-7533-4a17-bad8-61aa1f8d43dc']
['25' 200000 '9ea8de1d-2ef2-4f7e-b255-8f56dc08e565']
['26' 200000 'ab5ec36e-f40a-4143-8913-26335bf20ded']
['0' 200000 '31679ae3-7ff4-4cce-a801-0ea8870ab4e7']
['27' 200000 'fcad6feb-2781-49b3-978b-13f56c113df8']
['28' 200000 'f4921845-d71b-48b6-9a1f-f7a917a31638']
['29' 200000 '280abf5c-b9ed-4189-b975-4b1d5c73f421']
['21' 200000 '3687a320-4523-4765-9fe8-d5b2d9a50954']
['12' 200000 'de6a8827-1b32-4e13-879e-abeb9a79ec4a']
['8' 1000000 '9ec4f175-4572-4cb1-9432-23af0fb137ef']
['5' 1000000 '52373728-5375-42f1-8517-e72b8592606f']
['7' 1000000 'f899d0b6-959c-4ff7-a65b-37ac25a44e0e']
['6' 1000000 'cef961e7-a76a-46ff-bf40-e0e08e1f8f6f']
['0' 1000000 'f07d2beb-63a7-4a43-868e-5c67a128d7fe']
['4' 1000000 'a8710225-1e03-4d19-ad47-e440ee455bf0']
['2' 1000000 'd98b3c92-b72f-4e2c-ab00-c0234987c28f']
['1' 1000000 '3e0826d2-31da-4f54-a884-a33319060d4b']
['3' 1000000 '377749a2-5119-4bb0-855c-8f957b515dae']
['9' 1000000 '630bc5d3-43a4-478b-8733-e31beb38e1ab']
['1' 2000000 '3a3b6f41-6a10-4c62-98d4-092b64cd740a']
['3' 2000000 '30f15670-18cf-41c8-a02a-811f6bf947ea']
['0' 2000000 'e38c14cd-55df-4d48-a1c4-0512324aaa43']
['4' 2000000 '19f5b52d-5bc0-41d5-84b1-100f784fd21f']
['2' 2000000 '6129e1ed-ee0b-4c11-bbad-2ec4fb692bb3']

In [30]:
target_values["Lines"].unique()

array([200000, 1000000, 2000000], dtype=object)

In [27]:
target_values.to_csv('../target_values.csv', index=False)

In [29]:
target_values.where(target_values['Lines'] == 2_000_000).dropna()

  File Group    Lines                                 Value
0          1  2000000  3a3b6f41-6a10-4c62-98d4-092b64cd740a
0          3  2000000  30f15670-18cf-41c8-a02a-811f6bf947ea
0          0  2000000  e38c14cd-55df-4d48-a1c4-0512324aaa43
0          4  2000000  19f5b52d-5bc0-41d5-84b1-100f784fd21f
0          2  2000000  6129e1ed-ee0b-4c11-bbad-2ec4fb692bb3

In [26]:
from os import listdir

files = [f for f in listdir(directory) if isfile(join(directory, f)) and f.endswith('2000000.csv')]

In [ ]:
from time import time

def search_for_value(file_name, value):
    start = time()
    with open(file_name, 'r') as file:
        for i, line in enumerate(file):
            if line.strip() == value:
                return time() - start
    return time() - start